.footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin: 0;
  min-height: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 0;

  .social-icon {
    font-size: 0.8rem;
    margin: 10px;
    color: white;
    transition: transform 0.3s, color 0.3s;

    &:hover {
      transform: scale(1.2);
      color: #0073e6;
    }

    &:active {
      transform: scale(1);
    }
  }



}



.footer-h2 {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #fff;
  border-bottom: 1px dotted white;
}

.footer a {
  text-decoration: none;
  color: white;
}






